In [22]:
import pandas as pd
import sqlalchemy
from os import path

#To create a connection with the database.
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:codyhbk1@127.0.0.1:5432/firstdb')

#To read the data from the database:
sql_query = sqlalchemy.text('''
SELECT *
FROM home_equipments
''')
df = pd.read_sql_query(sql_query, con = engine)
df.head(15)
df.tail(5)

    product_name product_place    color        utility     price
7   Dining Table   Bhubaneswar     Grey     Travelling  10000000
8            Car         Delhi  Megante       Relaxing     10000
9          Chair      Gurugram    Black            Sit      5000
10            TV        Mumbai   Silver  Entertainment   5000000
11        scooty   Bhubaneswar     Grey     Travelling  10000000

In [47]:
import pandas as pd
import sqlalchemy
from os import path

#To create a connection with the database.
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:codyhbk1@127.0.0.1:5432/firstdb')
print (engine.table_names())
query = sqlalchemy.text("""
CREATE TABLE Testing(
    id numeric(7,0)
)""")
df = pd.read_csv('D:\My Git\Xlsx Files\Testing.csv')
df.head()
#df.to_sql('Testing', con=engine, if_exists = 'append', index = False)

['Items', 'Prod_Details', 'test', 'Testing', 'home_equipments']

   id
0   1
1   2
2   3
3   4
4   5