In [2]:
#Revised version of conecting 
import pandas as pd
import sqlalchemy
from os import path

#To create a connection with the database.
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:codyhbk1@127.0.0.1:5432/firstdb')
print (engine.table_names())

query = sqlalchemy.text("""
CREATE TABLE home_equipments(
    product_name varchar(),
    product_place varchar(),
    color char,
    utility varchar,
    price numeric(7,2)
)
""")
#To read the read the data from excel sheet.
df = pd.read_csv('D:\My Git\Xlsx Files\home_equipments.csv')
df.head()

#Connection of table to db:
#Remove the '#' to add new data to database.
#df.to_sql('home_equipments', con=engine, if_exists = 'append', index = False)


#Selecting single or multiple rows using .loc index selections with pandas.
df.loc[(df['price'] > 7_000) & (df['price'] < 20000)]


#nan is a flowing point number which is not a Number, which is defined in np.
#Used to crate a new column in data frame but not in Database.
df['Product price category'] = pd.np.nan
df.head()


#Find the outliers of table Product Price Category:
upper_outlier = df['price'].quantile() * 0.75
lower_outlier = df['price'].quantile() * 0.25
print("upper_outlier =", upper_outlier)
print("lower outlier =", lower_outlier)

#TO find the most expensive category and change the data:
df.loc[(df['price'] >= upper_outlier), 'Product price category'] = 'Expensive'
df.loc[(df['price'] <= lower_outlier), 'Product price category'] = 'Not Expensive'

['Items', 'Prod_Details', 'test', 'Testing', 'home_equipments']
upper_outlier = 1696329.375
lower outlier = 565443.125

In [3]:
#Find the most expensive color:
df.loc[df['price'] == df['price'].max()]

df.loc[(df['color'] == 'Grey') & df['price'] == df['price'].max()]

Empty DataFrame
Columns: [product_name, product_place, color, utility, price, Product price category]
Index: []

## GroupBy:

In [4]:
max_price = df['price'].max()
print(max_price)
df_group = df.groupby('color')['price'].max()
print(df_group)
df_group[df_group == 10000]

1201544114
color
 Light Blue         10000
Black                5000
Grey           1201544114
Megante             10000
Olive Green      15451324
Silver            5000000
Name: price, dtype: int64

color
 Light Blue    10000
Megante        10000
Name: price, dtype: int64

In [127]:
#How to replace a particular value in a column with another value as nan:
#df['another_column'] = pd.np.nan
#df.loc[df['price'] > 1000000, 'another_column'] == pd.np.nan
#df.head(10)