In [4]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Vedant\\Desktop\\Practice\\Paytm_Statement_financial_year_18_19')
df.head()

                  Date           Activity  Debit  Credit
0  25/03/2019 14:56:03  Cashback received    NaN    11.0
1  25/03/2019 14:55:59     Paid for order   11.0     NaN
2  18/03/2019 20:06:48         Money sent  200.0     NaN
3  18/03/2019 20:05:44    Added to wallet    NaN   250.0
4  14/03/2019 10:11:30     Paid for order  149.0     NaN

In [18]:
import numpy as np
total_sum = df['Debit'].sum()
print(total_sum)
total_sum = np.nansum(list(df['Debit']))
print(total_sum)
type(total_sum)

61422.439999999995
61422.439999999995

numpy.float64

In [13]:
df.head(10)

                  Date           Activity  Debit  Credit
0  25/03/2019 14:56:03  Cashback received    NaN    11.0
1  25/03/2019 14:55:59     Paid for order   11.0     NaN
2  18/03/2019 20:06:48         Money sent  200.0     NaN
3  18/03/2019 20:05:44    Added to wallet    NaN   250.0
4  14/03/2019 10:11:30     Paid for order  149.0     NaN
5  14/03/2019 10:11:28    Added to wallet    NaN   149.0
6  25/02/2019 08:46:40     Paid for order  349.0     NaN
7  25/02/2019 08:46:39    Added to wallet    NaN   349.0
8  23/02/2019 22:42:07     Paid for order   11.0     NaN
9  23/02/2019 22:42:05    Added to wallet    NaN    11.0

In [14]:
df.shape

(238, 4)